$black-normal: #0d0e10;
$black-dark: #050607;
$black-light: #15171a;

$white-normal: #f5f7f7;
$white-dark: #edeff0;
$white-light: #fafcfc;

$purple-normal: #5d29e1;
$purple-dark: #4c08f6;
$purple-light: #7b4dee;

$gray-1: #777;

.color-gray{
    color: $gray-1;
}